<p id="notice"><%= notice %></p>

<h1>Test Suite Results</h1>

<table>
  <thead>
    <tr>
      <th>OK?</th>
      <th>Test suite</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_suite_results.each do |test_suite_result| %>
      <tr>
        <td><%= test_suite_result.ok? %></td>
        <td><%= test_suite_result.test_suite_id %></td>
        <td><%= link_to 'Show', test_suite_result %></td>
        <td><%= link_to 'Edit', edit_test_suite_result_path(test_suite_result) %></td>
        <td><%= link_to 'Destroy', test_suite_result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test Suite Result', new_test_suite_result_path %>
